[Desktop Entry]
Name=Reticulum Meshnet Documentation
Exec=chromium-browser --password-store=basic /home/ipfs/Documents/reticulum-docs/index.html
Comment=Offline version RNS mesh networking documentation 
Terminal=false
Icon=/usr/share/raspberrypi-artwork/pbox/pirateSkullWhite98x128.svg
Type=Application
