[Desktop Entry]
Name=Package Log
Name[as]=পেকেইজ লগ
Name[ca]=Canvis del paquet
Name[ca@valencia]=Canvis del paquet
Name[cs]=Záznamy správy balíčků
Name[da]=Pakkelog
Name[de]=Paketprotokoll
Name[el]=Αρχείο καταγραφής πακέτου
Name[en_GB]=Package Log
Name[es]=Registro del paquete
Name[eu]=Paketearen erregistroa
Name[fi]=Pakettiloki
Name[fr]=Historique du paquet
Name[gl]=Rexistro de paquetes
Name[gu]=પેકેજ લૉગ
Name[hi]=संकुल लॉग
Name[hu]=Csomagnapló
Name[id]=Log Paket
Name[it]=Registro del pacchetto
Name[kn]=ಪ್ಯಾಕೇಜ್ ಲಾಗ್
Name[ko]=패키지 기록
Name[lt]=Paketų žurnalas
Name[lv]=Pakotņu žurnāls
Name[mr]=संकुल लॉग
Name[ms]=Log Pakej
Name[nb]=Pakkelogg
Name[ne]=प्याकेज लग
Name[nl]=Pakketlogboek
Name[pa]=ਪੈਕੇਜ ਲਾਗ
Name[pl]=Dziennik pakietów
Name[pt_BR]=Log do pacote
Name[ru]=Журнал
Name[sk]=Záznam balíkov
Name[sl]=Dnevnik paketa
Name[sr]=Дневник пакета
Name[sr@latin]=Dnevnik paketa
Name[ta]=தொகுப்பு பதிவு
Name[th]=ปูมแพกเกจ
Name[tr]=Paket Günlüğü
Name[uk]=Журнал пакунків
Name[zh_CN]=软件包日志
Name[zh_TW]=軟體包記錄
Comment=View past package management tasks
Comment[af]=Bekyk vorige pakketbestuurtake
Comment[an]=Veye os quefers de mantenimiento de paquetz anteriors
Comment[ar]=اعرض مهام إدارة الحزم السابقة
Comment[as]=আগৰ পেকেইজ ব্যৱস্থাপনা কাৰ্য্য দৰ্শন কৰক
Comment[ast]=Llei les xeres de caltenimientu de paquetes anteriores
Comment[be]=Прагляд апошніх заданняў кіравання пакункамі
Comment[bg]=Преглед на миналите действия по управление на софтуера
Comment[bn]=পূর্বে সঞ্চালিত প্যাকেজ পরিবর্তন সংক্রান্ত কাজ প্রদর্শন
Comment[bn_IN]=পূর্বে সঞ্চালিত প্যাকেজ পরিবর্তন সংক্রান্ত কর্ম পরিদর্শন করুন
Comment[ca]=Visualitza les tasques de gestió de paquets realitzats
Comment[ca@valencia]=Visualitza les tasques de gestió de paquets realitzats
Comment[cs]=Zobrazte si poslední úkoly správy balíčků
Comment[da]=Se seneste pakkehåndterings-opgaver
Comment[de]=Vorherige Paketmanagement-Aufgaben anzeigen
Comment[el]=Προβολή παλαιότερων εργασιών διαχείρισης πακέτων
Comment[en@shaw]=𐑝𐑿 𐑐𐑭𐑕𐑑 𐑐𐑨𐑒𐑦𐑡 𐑥𐑨𐑯𐑩𐑡𐑥𐑩𐑯𐑑 𐑑𐑭𐑕𐑒𐑕
Comment[en_GB]=View past package management tasks
Comment[es]=Vea las tareas de mantenimiento de paquetes anteriores
Comment[et]=Hiljutiste haldusülesannete kuvamine
Comment[eu]=Ikusi pakete-kudeaketaren iraganeko atazak
Comment[fa]=نمایش کارهای قبلی مدیریت بسته
Comment[fi]=Katso aiemmat paketinhallintatehtävät
Comment[fr]=Afficher les tâches de gestion de paquets antérieures
Comment[gl]=_Ver as tarefas antigas de xestión do paquete
Comment[gu]=પહેલાનાં પેકેજ વ્યવસ્થાપન કાર્યોને દર્શાવો
Comment[he]=הצגת פעולות קודמות בניהול חבילות
Comment[hi]=पिछला संकुल प्रबंधन कार्य देखें
Comment[hu]=Korábbi csomagkezelési feladatok megjelenítése
Comment[id]=Tilik tugas manajemen paket yang lalu
Comment[it]=Visualizza i passati compiti di gestione dei pacchetti
Comment[ja]=以前のパッケージ管理作業の閲覧
Comment[kn]=ಈ ಹಿಂದಿನ ಪ್ಯಾಕೇಜ್ ವ್ಯವಸ್ಥಾಪನಾ ಕಾರ್ಯಗಳನ್ನು ನೋಡು
Comment[ko]=패키지 관리 작업 내역을 봅니다
Comment[lt]=Rodyti ankstesnes paketų tvarkymo užduotis
Comment[lv]=Skatīt iepriekšējos pakotņu pārvaldības uzdevumus
Comment[mk]=Погледни ги претходните задачи на менаџментот на пакети
Comment[ml]=കഴിഞ്ഞുപോയ പാക്കേജ് മാനേജ്മെന്റ് ജോലികള്‍ കാണുക
Comment[mr]=पूर्वीचे संकुल व्यवस्थापन कार्य पहा
Comment[ms]=Lihat tugas pengurusan pakej masa lalu
Comment[nb]=Vis pakkehåndteringsoppgaver
Comment[nl]=Eerdere pakketbeheertaken bekijken
Comment[nn]=Sjå tidlegare pakkehandsamingoppgåver
Comment[or]=ଅତିତର ପ୍ୟାକେଜ ପରିଚାଳନା କାର୍ଯ୍ୟକୁ ଦେଖନ୍ତୁ
Comment[pa]=ਪਿਛਲੀ ਪੈਕੇਜ ਪਰਬੰਧ ਕੰਮ ਵੇਖੋ
Comment[pl]=Wyświetlanie przeszłych zadań zarządzania pakietami
Comment[pt]=Visualizar tarefas antigas de gestão de pacotes
Comment[pt_BR]=Visualize tarefas de gerenciamento de pacotes passadas
Comment[ro]=Vezi sarcinile anterioare de gestionare a pachetelor
Comment[ru]=Просмотр последних заданий по управлению пакетами
Comment[sk]=Zobrazuje predchádzajúce úlohy vykonané pri správe balíkov
Comment[sl]=Pregled zgodovine upravljanja s paketi
Comment[sr]=Прегледајте претходне послове управника пакета
Comment[sr@latin]=Pregledajte prethodne poslove upravnika paketa
Comment[sv]=Visa tidigare pakethanteringsåtgärder
Comment[ta]=பழைய தொகுப்பு மேலாண்மை பணிகள்
Comment[te]=గత ప్యాకేజీ నిర్వహణ కర్తవ్యాలను చూడు
Comment[tg]=Тамошои вазифаҳои мудирияти бастаи охирин
Comment[th]=ดูรายการจัดการแพกเกจในอดีต
Comment[tr]=Geçmiş paket yönetim görevlerini göster
Comment[ug]=بۇرۇنقى بوغچا باشقۇرۇش ۋەزىپىسىنى كۆرسەت
Comment[uk]=Перегляд останніх завдань керування пакунками
Comment[vi]=Xem các thao tác quản lý phần mềm trong quá khứ
Comment[zh_CN]=查看以前的包管理任务
Comment[zh_HK]=檢視過去的軟件包管理工作
Comment[zh_TW]=檢視過去的軟體包管理工作
Icon=gpk-log
Exec=pi-gpk-log
Terminal=false
Type=Application
NoDisplay=false
Categories=GNOME;GTK;System;
StartupNotify=true

