[Desktop Entry]
Name=Package Updater
Name[as]=পেকেইজ আপডেইটাৰ
Name[be]=Абнаўленне пакункаў
Name[ca]=Actualitzador de paquets
Name[ca@valencia]=Actualitzador de paquets
Name[cs]=Aktualizace balíčků
Name[da]=Pakkeopdatering
Name[de]=Paketaktualisierung
Name[el]=Πρόγραμμα ενημέρωσης πακέτων
Name[en_GB]=Package Updater
Name[es]=Actualizador de paquetes
Name[eu]=Pakete-eguneratzailea
Name[fi]=Pakettien päivitin
Name[fr]=Outil de mise à jour de paquets
Name[gl]=Actualizador de paquetes
Name[gu]=પેકેજ સુધારક
Name[hi]=संकुल प्रबंधक
Name[hu]=Csomagfrissítő
Name[id]=Pemutakhir Paket
Name[it]=Aggiornamento pacchetti
Name[ja]=パッケージアップデーター
Name[kn]=ಪ್ಯಾಕೇಜ್ ಅಪ್‌ಡೇಟರ್
Name[ko]=패키지 업데이트
Name[lt]=Paketų atnaujinimas
Name[lv]=Pakotņu jauninātājs
Name[mr]=पॅकेज अपटेडर
Name[ms]=Pengemaskini Pakej
Name[nb]=Pakkeoppdatering
Name[ne]=प्याकेज अपडेटर
Name[nl]=Updateprogramma voor pakketten
Name[pa]=ਪੈਕੇਜ ਅੱਪਡੇਟਰ
Name[pl]=Aktualizacja pakietów
Name[pt]=Atualizador de Pacotes
Name[pt_BR]=Atualizador de pacotes
Name[ru]=Обновление пакетов
Name[sk]=Aktualizátor balíkov
Name[sl]=Posodabljalnik paketa
Name[sr]=Освеживач пакета
Name[sr@latin]=Osveživač paketa
Name[ta]=தொகுப்பு புதுப்பிப்புக் கருவி
Name[tg]=Навсозии бастаҳо
Name[th]=เครื่องมือปรับรุ่นแพกเกจ
Name[tr]=Paket Güncelleyici
Name[uk]=Оновлення пакунків
Name[zh_CN]=软件包更新程序
Name[zh_TW]=軟體包更新程式
Comment=Update software installed on the system
Comment[af]=Werk geïnstalleer sagteware op die stelsel by
Comment[an]=Esviellar o software instalau en o sistema
Comment[ar]=حدّث الحزم المُثبّتة على النظام
Comment[as]=চিস্টেমত ইনস্টল্ড চফ্টৱেৰ আপডেইট কৰক
Comment[ast]=Anovar el software instaláu nel sistema
Comment[be]=Абнаўленне апраграмавання, усталяванага ў сістэме
Comment[bg]=Обновяване на софтуера инсталиран върху системата
Comment[bn]=সিস্টেমে ইনস্টলকৃত সফ্টওয়্যার হালনাগাদ
Comment[bn_IN]=সিস্টেমে ইনস্টল থাকা সফ্টওয়্যার আপডেট করুন
Comment[ca]=Actualitza el programari instal·lat en el sistema
Comment[ca@valencia]=Actualitza el programari instal·lat en el sistema
Comment[cs]=Aktualizujte software instalovaný v tomto systému
Comment[da]=Opdatér software installeret på systemet
Comment[de]=Auf dem System installierte Software aktualisieren
Comment[el]=Ενημέρωση εγκατεστημένου λογισμικού
Comment[en@shaw]=𐑳𐑐𐑛𐑱𐑑 𐑕𐑪𐑓𐑑𐑢𐑺 𐑦𐑯𐑕𐑑𐑷𐑤𐑛 𐑪𐑯 𐑞 𐑕𐑦𐑕𐑑𐑩𐑥
Comment[en_GB]=Update software installed on the system
Comment[es]=Actualizar el software instalado en el sistema
Comment[et]=Süsteemi paigaldatud tarkvara uuendamine
Comment[eu]=Eguneratu sisteman instalatutako softwarea
Comment[fa]=بروزرسانی نرم‌افزار نصب شده بر روی سیستم
Comment[fi]=Päivitä järjestelmään asennettuja ohjelmistoja
Comment[fr]=Met à jour les logiciels installés sur le système
Comment[ga]=Nuashonraigh bogearraí atá suiteáilte ar an gcóras
Comment[gl]=Actualizar o software instalado no sistema
Comment[gu]=સિસ્ટમ પર સ્થાપિત થયેલ સોફ્ટવેરને સુધારો
Comment[he]=עדכון תוכנות המותקנות על המערכת
Comment[hi]=सिस्टम पर संस्थापित सॉफ्टवेयर अद्यतन करें
Comment[hu]=A rendszerre telepített szoftverek frissítése
Comment[id]=Mutakhirkan perangkat lunak yang terpasang pada sistem
Comment[it]=Aggiorna il software installato sul sistema
Comment[ja]=システムにインストールされたパッケージの更新
Comment[kn]=ಗಣಕದಲ್ಲಿ ಅನುಸ್ಥಾಪಿತಗೊಂಡಿರುವ ತಂತ್ರಾಂಶವನ್ನು ಅಪ್ಡೇಟ್ ಮಾಡು
Comment[ko]=시스템에 설치한 소프트웨어를 업데이트합니다
Comment[lt]=Atnaujinti sistemoje įdiegtą programinę įrangą
Comment[lv]=Atjaunināt sistēmā instalēto programmatūru
Comment[mk]=Ажурирај го софтверот инсталирај на системот
Comment[ml]=സിസ്റ്റമില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റ്‌വെയറുകള്‍ പരിഷ്കരിക്കുക
Comment[mr]=प्रणालीवर प्रतिष्ठापीत सॉफ्टवेअर अद्ययावत करा
Comment[nb]=Oppdater programvare som er installert på systemet
Comment[nl]=De op uw systeem geïnstalleerde software bijwerken
Comment[nn]=Oppdater programvare installert på systemet
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପନ କରାଯାଇଥିବା ସଫ୍ଟୱେରକୁ ଅଦ୍ୟତନ କରନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Aktualizacja oprogramowania zainstalowanego w komputerze
Comment[pt]=Atualizar aplicações instaladas no sistema
Comment[pt_BR]=Atualize os programas instalados no sistema
Comment[ro]=Actualizați programele instalate pe sistem
Comment[ru]=Обновление программ, установленных в системе
Comment[sk]=Aktualizuje softvér nainštalovaný v systéme
Comment[sl]=Posodobitev programske opreme nameščene na sistemu
Comment[sr]=Ажурирајте програме инсталиране на овом систему
Comment[sr@latin]=Ažurirajte programe instalirane na ovom sistemu
Comment[sv]=Uppdatera programvara installerade på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை புதுப்பிக்கவும்
Comment[te]=వ్యవస్థ నందు స్థాపించిన సాఫ్ట్‍వేర్‌ను నవీకరించు
Comment[tg]=Навсозии нармафзори насбшуда дар система
Comment[th]=ปรับรุ่นซอฟต์แวร์ที่ติดตั้งอยู่ในระบบ
Comment[tr]=Sisteminizde yüklü yazılımı güncelleyin
Comment[ug]=يېڭىلاش يۇمشاق دېتال بۇ سىستېمىغا ئورنىتىلدى
Comment[uk]=Оновлення програм, встановлених у системі
Comment[vi]=Cập nhật phần mềm đã cài đặt trên hệ thống
Comment[zh_CN]=更新本系统中安装的软件
Comment[zh_HK]=更新系統中已安裝的軟件
Comment[zh_TW]=更新系統中已安裝的軟體
Icon=system-software-update
Exec=pi-gpk-update-viewer
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
NotShowIn=KDE;
StartupNotify=true
X-GNOME-UsesNotifications=true
NoDisplay=false

